@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --text-color: #2d3248;
  --bac-color: hsl(185, 75%, 39%);
  --color: hsl(227, 10%, 46%);
  --font-fa: "Kumbh Sans", sans-serif;
  --font-w7: 700;
  --font-w4: 400;
  --font-size: 18px;
}

body {
  font-family: var(--font-fa);
  background-color: var(--bac-color);
  position: relative;
  overflow: hidden;
}
.bot,
.top {
  position: absolute;
  z-index: -1;
}
.top {
  top: -450px;
  left: 0px;
}
.bot {
  right: -80px;
  top: 450px;
}
.conteinet {
  border-radius: 20px;
  background-color: white;
  width: 300px;
  height: 350px;
}
.min_div {
  z-index: 1000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.min_bac {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
span {
  color: var(--color);
  font-weight: var(--font-w4);
  text-transform: capitalize;
}
.imagea {
  margin-top: -59px;
  margin-left: 30%;
  width: 105px;
  border: 5px white solid;
  border-radius: 50%;
}
.min_tex {
  text-align: center;
}
h3 {
  font-weight: var(--font-w7);
  font-size: 16px;
}
.num span{
font-size: 14px;
}
h2 {
  margin-bottom: 5px;
  margin-top:3px;
}

hr {
  border: #f1f1f1 0.5px solid;
  margin: 0;
}
.nums {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
